<div class="ui menu">
  <div class="header item">
    Marvel API Browser
  </div>
  <a class="active item">
    Search
  </a>
  <a class="item">
    Features
  </a>
  <a class="item">
    About
  </a>
</div>