<div class="ui piled segment">
  <h2 class="ui center aligned icon header">
    <i class="circular settings icon"></i>
    Marvel API Browser
  </h2>
  <p class="left">
    Marvel API Browser uses <a href="https://developer.marvel.com/">Marvel Developer API</a> to get character information.
  </p>
  <p class="center">
    Data provided by Marvel. © 2019 MARVEL
  </p>
</div>