<html>

<head>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/pagination.css">

  <title>Marvel API Browser</title>
</head>

<body>
  <div style="margin-top: 20px;" id="mainContainerId" class="ui container">

      <!-- Segment -->
      <div class="ui grid center aligned">
        <div class="ten wide column">
          <% include component/segment %>
        </div>
      </div>

      <!-- Search -->
      <div class="ui equal width center aligned padded grid">
        <div class="row">
          <div class="column">
            <% include component/search %>
          </div>
        </div>
      </div>

      <div style="display: none;" class="ui horizontal divider">
        Search Results
      </div>

      <!-- Search Results -->
      <div class="ui grid center aligned">
        <div id="searchResultId" class="row">       
        </div>

        <!-- Pagination -->
        <div class="row">
          <div id="paginationId"></div>
        </div>
      </div>
  </div>

  <!-- Modal -->
  <div class="ui basic modal">
    <div class="ui icon header">
      <i class="exclamation icon"></i>
      <span id="modalMessage"></span>
    </div>
    <div class="ui grid centered actions">
      <div style="margin-left: 0px; margin-right: 0px;" class="ui white basic cancel inverted button">
        <i class="remove icon"></i>
        Close
      </div>
    </div>
  </div>

  <!-- Character Information Modal -->
  <div id="characterModal" class="ui tiny modal">
    <div class="header">Character Information</div>
    <div class="image content">
      <div class="ui small image">       
      </div>
      <div class="description">
        <div class="ui header"></div>
        <div style="text-transform: capitalize;" class="ui list"></div>
      </div>
    </div>
    <div class="actions">
      <div class="ui right labeled deny button">
        Close
      </div>
    </div>
  </div>
  
  <!-- Javascript -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.blockUI.js"></script>
  <script src="/js/semantic.min.js"></script>
  <script src="/js/pagination.min.js"></script>
  <script src="/js/UIEvents.js"></script>
</body>

</html>