<html>

  <head>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">

    <title>Marvel API Browser</title>
  </head>

  <body>
    <% include component/search %>

    <!-- Javascript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>
  </body>

</html>